.top
{
    display: flex;
    justify-content: space-between;
    input
    {
        height: 34px;
        line-height: 34px;
        display: block;
    }
}

.centered
{
    display: flex;
    justify-content: space-evenly;
}

td
{
    border: none !important;
}