.cont
{
    width: 100%;
    
    .row
    {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .field
        {
            width: 48%;
        }

        .field2
        {
            width: 32%;
        }
    }
}

.button
{
    margin-left: 10px;
}
    
.panel
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    .label
    {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
}

.header-right
{
    right: 0;
    float: right;
}